In [2]:
import random

print(random.random())
print(random.random() * 45 + 1)

0.35660447994985023
28.00446364502539

In [3]:
numbers = []
while True:
    current_number = int(random.random() * 45 + 1)
    isDup = False
    
    for v in numbers:
        if current_number == v:
            isDup = True
            break
    
    if not isDup:
        numbers.append(current_number)

    if len(numbers) > 6:
        break

numbers.sort()
print('SELECTED NUMBERS : ', numbers)

SELECTED NUMBERS :  [3, 11, 17, 26, 29, 35, 45]

In [7]:
numbers = []

while len(numbers) < 7:
    current_number = int(random.random() * 45 + 1)

    for v in numbers:
        if current_number == v:
            print('duplicated')
            break
    else:
        numbers.append(current_number)
    
numbers.sort()
print('SELECTED NUMBERS : ', numbers)

duplicated
SELECTED NUMBERS :  [2, 6, 13, 19, 35, 37, 38]

In [8]:
def generate_basic_numbers(game_count=1):
    numbers_list = []

    for idx in range(game_count):
        numbers = []

        while len(numbers) < 7:
            current_number = int(random.random() * 45 + 1)

            for v in numbers:
                if current_number == v:
                    break
            else:
                numbers.append(current_number)
        
        numbers.sort()
        numbers_list.append(numbers)
    
    return numbers_list

In [10]:
selected_numbers_list = generate_basic_numbers(game_count=6)

for v in selected_numbers_list:
    print('SELECTED NUMBERS : ', v)

SELECTED NUMBERS :  [20, 33, 36, 38, 39, 44, 45]
SELECTED NUMBERS :  [6, 17, 18, 20, 27, 37, 44]
SELECTED NUMBERS :  [1, 18, 28, 31, 33, 42, 44]
SELECTED NUMBERS :  [2, 4, 13, 24, 29, 39, 43]
SELECTED NUMBERS :  [1, 9, 14, 15, 26, 32, 33]
SELECTED NUMBERS :  [10, 11, 23, 35, 36, 40, 45]

In [11]:
class Lotto:
    """
    로또 번호 추출 클래스
    """

    def __init__(self):
        pass

    def generate_basic_numbers(self):
        numbers = []

        while len(numbers) < 7:
            current_number = int(random.random() * 45 + 1)

            for v in numbers:
                if current_number == v:
                    break
            else:
                numbers.append(current_number)
        
        numbers.sort()

        return numbers
    
    def check_mean(self, numbers):
        return True

    def select_golden_numbers(self, game_count=1):
        golden_numbers = []

        while True:
            numbers = self.generate_basic_numbers()

            if self.check_mean(numbers):
                golden_numbers.append(numbers)
                break

        return golden_numbers

In [13]:
lotto = Lotto()
golden_numbers = lotto.select_golden_numbers()
print('Lotto golden_number : ', golden_numbers)

Lotto golden_number :  [[14, 16, 22, 30, 31, 32, 42]]

In [14]:
data = []
with open('data-files/seoul-temperature.csv', 'rt', encoding="utf-8") as f:
    f.readline()

    while True:
        line = f.readline()

        if not line:
            break
        else:
            line = line.rstrip("\n")
            data.append(line.split(","))

print(len(data))
print(data[:5])

40910
[['1907-10-01', '108', '13.5', '7.9', '20.7'], ['1907-10-02', '108', '16.2', '7.9', '22'], ['1907-10-03', '108', '16.2', '13.1', '21.3'], ['1907-10-04', '108', '16.5', '11.2', '22'], ['1907-10-05', '108', '17.6', '10.9', '25.4']]

In [16]:
# 1. 데이터를 다음과 같은 형식으로 읽어서 변수에 저장
# [
#     ["날짜", "지점", 평균(float), 최저(float), 최고(float)],
#     ["날짜", "지점", 평균(float), 최저(float), 최고(float)]
# ]

def to_float(v):
    try:
        fv = float(v)
    except:
        fv = -12345
    return fv

data2 = list(filter(lambda row: len(row) == 5, data))

data3 = list(map(lambda row: row[:2] + list(map(lambda v: to_float(v), row[2:])), data2))

In [17]:
len(data3), data3[:5]

(40909,
 [['1907-10-01', '108', 13.5, 7.9, 20.7],
  ['1907-10-02', '108', 16.2, 7.9, 22.0],
  ['1907-10-03', '108', 16.2, 13.1, 21.3],
  ['1907-10-04', '108', 16.5, 11.2, 22.0],
  ['1907-10-05', '108', 17.6, 10.9, 25.4]])

In [18]:
# 가장 더웠던 날의 데이터 출력
max_temp = -12345
data = None
 
for row in data3:
    if row[-1] > max_temp:
        max_temp = row[-1]
        data = row

In [19]:
data

['2018-08-01', '108', 33.6, 27.8, 39.6]

In [20]:
# 출생 연도 이후 생일 중에서 가장 더웠던 날
year = 1980
dt = '03-03'
max_temp = -12345
data = None

for row in data3:
    y = row[0][:4]
    d = row[0][5:]

    if int(y) > year and dt == d:
        if row[-1] > max_temp:
            max_temp = row[-1]
            data = row

In [21]:
data

['2000-03-03', '108', 8.8, 1.2, 17.2]

In [22]:
# 데이터 재구성 (월별로 데이터 정리) 1
# {
#     '01': [[....],[....]],
#     '02': [[....],[....]],
#     ...
#     '12': [[....],[....]]
# }

data_by_month = {}

for row in data3:
    month = row[0][5:7]

    if month in data_by_month:
        data_by_month[month].append(row)
    else:
        data_by_month[month] = [row]

In [23]:
data_by_month['03'][:5]

[['1908-03-01', '108', 0.7, -4.8, 4.0],
 ['1908-03-02', '108', -3.8, -7.4, 0.1],
 ['1908-03-03', '108', 1.9, -2.7, 4.9],
 ['1908-03-04', '108', 2.0, 0.8, 4.0],
 ['1908-03-05', '108', 3.0, -0.2, 7.9]]

In [24]:
# 데이터 재구성 (월별로 데이터 정리) 2
# {
#     '01': [[....],[....]],
#     '02': [[....],[....]],
#     ...
#     '12': [[....],[....]]
# }

from collections import defaultdict

data_by_month = defaultdict(list) # 초기 값 자동 구성

for row in data3:
    month = row[0][5:7]
    data_by_month[month].append(row)

In [26]:
data_by_month['12'][-5:]

[['2020-12-01', '108', 1.1, -3.6, 6.7],
 ['2020-12-02', '108', 2.4, 0.5, 6.1],
 ['2020-12-03', '108', 0.7, -2.3, 4.2],
 ['2020-12-04', '108', -0.6, -4.6, 4.4],
 ['2020-12-05', '108', 2.1, -2.2, 6.6]]

In [27]:
# 12월의 평균 기온 계산 -> 월을 전달인자로 평균 기온 계산하는 함수 작성

def mean_temperature_by_month(month, t='mean'): # t : mean, min, max
    month_data = data_by_month[month]
    idx = 2 if t == 'mean' else 3 if t == 'min' else 4
    total, cnt = 0, 0

    for row in month_data:
        if row[idx] > -12345:
            total += row[idx]
            cnt += 1

    mean_value = total / cnt
    
    return mean_value

In [28]:
mean_temperature_by_month('01', 'min')

-7.690234604105556